@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Quicksand, sans-serif;
    font-weight: 500;
    color: #071e22;
    background-color: #f3f3f3;
}

body p {
    font-size: 120%;
}

/* headings and logo */

h1,
h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    color: #07242a;
    letter-spacing: 4px;
}

#logo {
    float: left;
    margin-left: 40px;
    font-size: 260%;
}

/* nav links */

#page-nav {
    font-size: 140%;
    letter-spacing: 4px;
}

#page-nav,
#logo {
    line-height: 80px;
}

#page-nav ul {
    float: right;
}

#page-nav li {
    float: left;
    list-style: none;
    margin-right: 40px;
}

#page-nav a {
    text-decoration: none;
    color: #07242a;
}

#page-nav a:hover {
    color: #1d7874;
    border: 1px solid #1d7874;
    padding: 0 4px;
}

/* landing image */

.section-landing {
    height: 800px;
    width: 100%;
    overflow: hidden;
    color: #f3f3f3;

    position: relative;

    background-color: #071e22
}

#landing-image-container {
    width: 800px;
    height: 600px;
    padding: 20px;
    border: 1px solid #f3f3f3;

    top: 10%;
    left: 10%;

    position: absolute;
}

#landing-image {
    height: 100%;

    background: url(../images/landing-image.jpg) no-repeat center center;
    background-size: 100%;
}

/* cover text */

.landing-cover-text {
    width: 780px;
    height: 100px;

    background-color: #1d7874;

    bottom: 30%;
    right: 10%;

    position: absolute;
}

.landing-cover-text h2 {
    font-size: 220%;
    color: #f3f3f3;
    text-align: center;
    line-height: 60px;
    padding: 20px;
}

/* why karate section */

.section-white {
    height: 800px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#why-left {
    width: 50%;
    float: left;
}

#why-right {
    width: 50%;
    height: 600px;
    float: right;
}

#why-left-text {
    width: 60%;
    text-align: center;
    float: right;
    margin: 10% 10% 0 0;
    line-height: 28px;
}

#why-left-text p {
    margin-bottom: 20px;
}

#why-image {
    line-height: 0;
    column-count: 1;
    padding: 20px 0 20px 10%;
}

#why-image>img {
    width: 560px;
}

/* open house section */

.section-container {
    height: 800px;
    width: 100%;
    overflow: hidden;
    color: #f3f3f3;

    position: relative;

    background-color: #071e22
}

#open-left {
    width: 50%;
    float: left;
}

#open-right {
    width: 50%;
    float: right;
}

.map {
    float: right;
    width: 60%;
    height: 400px;
    padding: 20% 10% 0 0;
}

#open-right-text {
    width: 60%;
    text-align: center;
    float: left;
    margin: 24% 0 0 10%;
    line-height: 20px;
}

#open-right-text h2 {
    color: #f3f3f3;
}

#open-right-text p {
    margin-bottom: 20px;
}

/* footer */

footer {
    height: 160px;
    background-color: #1d7874;
    text-align: center;
}

footer li {
    display: inline-block;
    margin-top: 30px;
    padding: 0 5%;
    color: #f3f3f3;
}

footer a {
    color: #f3f3f3;
    text-decoration: none;
}

.footer-top {
    font-size: 120%;
}

.footer-top a:hover {
    font-size: 105%;
}

.footer-bottom {
    font-size: 180%;
}

/* about hero image and cover text*/

#about-landing-image {
    background: url(../images/about-landing-image.jpg) center center / cover fixed;
}

.about-cover-text {
    width: 600px;
    height: 120px;
    text-align: center;
    font-size: 220%;
    line-height: 60px;
    font-family: Montserrat, sans-serif;

    padding: 20px;
    margin: 0 auto;
    margin-top: 26%;

    background-color: rgba(29, 120, 116, 0.8);
}

.about-cover-text h2 {
    color: #f3f3f3;
}

/* about text*/

.center {
    text-align: center;
}

.about-text {
    width: 60%;
    margin: 0 auto;
    padding-top: 90px;
}

.about-text p {
    margin-bottom: 20px;
}

/* video section */

#video-container {
    width: 80%;
    height: 460px;
    margin: 0 auto;
}

#video {
    width: 700px;
    height: 80%;
    padding-top: 110px;
    display: block;
    margin: 0 auto;
}

/* schedule section */

#schedule-left {
    width: 50%;
    float: left;
}

#schedule-right {
    width: 50%;
    float: right;
}

#dojo-image-container {
    width: 80%;
    height: 600px;
    float: right;
    margin-right: 10%;
}

#dojo-image {
    height: 100%;

    background: url(../images/dojo.jpg) no-repeat center center;
    background-size: 100%;
}

#times-container {
    float: left;
    margin-left: 5%;
    padding-top: 40px;
}

#times th {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    color: #f3f3f3;
    background-color: #071e22;
    padding: 10px 0;
}

#times td {
    padding: 40px 5px;
    background-color: #1d7874;
    color: #f3f3f3;
}

/* form */

.form-section-container {
    height: 800px;
    width: 100%;
    overflow: hidden;
    color: #f3f3f3;

    position: relative;

    background-color: #071e22
}

#container-border {
    width: 600px;
    height: 80%;
    margin: 0 auto;
    margin-top: 60px;
    border: 1px solid #f3f3f3;
    border-radius: 4px;
    color: rgba(243, 243, 243, 0.8);
}

#form-container {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 48px;
    background-color: rgba(29, 120, 116, 0.7);
    border-radius: 4px;
}

#form-container h2 {
    color: #f3f3f3;
    padding-top: 20px;
    padding-bottom: 10px;
}

#form-container p {
    text-transform: uppercase;
    color: #f3f3f3;
    margin-top: 10px;
}

.input {
    background-color: rgba(7, 30, 34, 0.7);
    color: #f3f3f3;
    padding: 4px;
    width: 80%;
    margin-bottom: 8px;
    border-radius: 4px;
}

.input:hover {
    background-color: rgba(7, 30, 34, 0.9);
    border: 1px solid #f3f3f3;
}

.radio input {
    margin: 10px 20px 10px 0;
}

#submit {
    background-color: rgba(7, 30, 34, 0.6);
    color: #f3f3f3;
}

#submit:hover {
    background-color: #07242a;
}

#reset {
    background-color: rgba(243, 243, 243, 0.5);
    color: #07242a;
}

#reset:hover {
    background-color: rgba(243, 243, 243, 0.8);
}

.button {
    padding: 10px;
    text-transform: uppercase;
    border-radius: 4px;
    width: 80%;
    margin-top: 10px;
}

.button:hover {
    border: 1px solid #f3f3f3;
}

/* welcome page */

#welcome-container {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    margin-top: 48px;
    background-color: rgba(29, 120, 116, 0.7);
    border-radius: 4px;
}

#welcome-container h2 {
    color: #f3f3f3;
    padding-top: 56px;
    /* padding-bottom: 10px; */
}

#welcome-container p {
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
}

/* media queries */

/* for laptops */
@media screen and (max-width: 1500px) {
    .section-container {
        height: 1400px;
    }

    .section-white {
        height: 1400px;
    }

    /* home cover text */
    .landing-cover-text {
        width: 640px;
        height: 80px;

        bottom: 30%;
        right: 10%;
    }

    .landing-cover-text h2 {
        font-size: 200%;
        line-height: 80px;
        padding: 0;
    }

    /* why section */
    #why-left {
        width: 100%;
    }

    #why-left-text {
        text-align: center;
        clear: both;
        margin: 10% 20% 0 20%;
        line-height: 28px;
    }

    #why-right {
        width: 100%;
    }

    #why-image {
        text-align: center;
        clear: both;
        padding: 0 0;
        margin: 4% 15%;
    }

    #why-image {
        padding: 0;
        margin-bottom: 4%;
    }

    #why-image>img {
        width: 520px;
    }

    /* open house section */
    #open-left {
        width: 100%;
    }

    #open-right {
        width: 100%;
    }

    #open-right-text {
        text-align: center;
        clear: both;
        margin: 10% 20% 0 20%;
        line-height: 28px;
    }

    .map {
        text-align: center;
        clear: both;
        width: 60%;
        height: 560px;
        padding: 0;
        margin: 8% 20%;
    }
}

/* for large sized tablets */
@media screen and (max-width: 1200px) {
    .section-landing {
        height: 700px;
        width: 100%;
    }

    /* home landing image */
    #landing-image-container {
        width: 50%;
        height: 55%;

        top: 15%;
        left: 10%;
    }

    #landing-image {
        height: 100%;

        background: url(../images/landing-image.jpg) no-repeat center top;
        background-size: 100%;
    }

    /* why section */
    #why-image>img {
        width: 500px;
    }

    /* form */
    .form-section-container {
        height: 700px;
        width: 100%;
    }
}

/* for large and medium tablets */
@media screen and (max-width: 1050px) {

    /* home landing image and cover text */
    #landing-image-container {
        width: 60%;
        height: 50%;

        top: 10%;
        left: 17%;
    }

    .landing-cover-text {
        width: 68%;

        bottom: 20%;
        right: 17%;
    }

    .landing-cover-text h2 {
        font-size: 160%;
    }

    /* why section */
    #why-image>img {
        width: 480px;
    }
}

/* for medium sized tablets */
@media screen and (max-width: 950px) {
    body p {
        font-size: 110%;
    }

    /* nav */
    #page-nav {
        font-size: 140%;
    }

    #page-nav ul {
        clear: both;
        float: left;
        margin-left: 30px;
        line-height: 60px;
    }

    /* home cover text */
    .landing-cover-text {
        bottom: 20%;
        right: 17%;
    }

    .landing-cover-text h2 {
        font-size: 140%;
    }

    /* why section */
    #why-left-text {
        line-height: 26px;
    }

    #why-image>img {
        width: 460px;
    }

    /* open house section */
    #open-right-text {
        margin: 18% 20% 0 20%;
        line-height: 26px;
    }

    .map {
        width: 80%;
        height: 560px;
        margin: 10%;
    }
}

/* for smaler tablets */
@media screen and (max-width: 800px) {

    /* home landing image and cover text */
    #landing-image-container {
        width: 100%;
        height: 60%;
        padding: 20px 0;
        margin-top: 40px;

        border: 0;
        border-bottom: 1px solid #f3f3f3;
        border-top: 1px solid #f3f3f3;

        top: 0;
        left: 0;
    }

    .landing-cover-text {
        width: 68%;

        bottom: 10%;
        right: 17%;
    }

    .landing-cover-text h2 {
        font-size: 140%;
    }

}

/* for mini tablets */
@media screen and (max-width: 700px) {

    .landing-cover-text h2 {
        font-size: 110%;
    }

    /* why section */
    #why-left-text {
        width: 80%;
        margin: 10% 10% 0 10%;
    }

    #why-image {
        margin: 4% 10%;
    }

    /* open house section */
    #open-right-text {
        width: 80%;
        margin: 18% 10% 0 10%;
        line-height: 26px;
    }

    .map {
        width: 100%;
        margin: 16% 0;
    }

    /* about coover text */
    .about-cover-text {
        width: 100%;
        font-size: 180%;
        line-height: 60px;
        font-family: Montserrat, sans-serif;

        padding: 18px 2%;
    }
}

/* for large mobiles */
@media screen and (max-width: 610px) {
    body p {
        font-size: 100%;
    }

    .section-landing {
        height: 600px;
        width: 100%;
    }

    /* nav */
    #page-nav {
        font-size: 120%;
        letter-spacing: 2px;
    }

    /* home cover text */

    .landing-cover-text {
        width: 80%;

        bottom: 8%;
        right: 10%;
    }

    .landing-cover-text h2 {
        font-size: 110%;
    }

    /* why section */
    #why-image {
        margin: 4% 5%;
    }

    #why-image>img {
        width: 440px;
    }
}

/* for medium mobiles */
@media screen and (max-width: 511px) {

    /* logo */
    #logo {
        font-size: 240%;
    }

    /* nav */
    #page-nav li {
        margin: 0 8px;
    }

    /* landing image and cover text */
    #landing-image-container {
        height: 55%;
    }

    .landing-cover-text {
        width: 100%;

        bottom: 10%;
        right: 0;
    }

    .landing-cover-text h2 {
        font-size: 142%;
    }

    /* why section */
    #why-image>img {
        width: 420px;
    }

    /* open house section */
    .map {
        height: 520px;
        margin: 16% 0;
    }
}

/* for small mobiles */
@media screen and (max-width: 480px) {

    /* nav */
    #page-nav {
        font-size: 140%;
        letter-spacing: 4px;
    }

    #page-nav li {
        margin: 0 24px;
        line-height: 38px;
    }

    /* landing image and cover text */
    #landing-image-container {
        height: 46%;
    }

    .landing-cover-text {
        height: 120px;
    }

    .landing-cover-text h2 {
        font-size: 142%;
        line-height: 60px;
    }

    /* why section */
    #why-image {
        margin: 0;
    }

    #why-image>img {
        width: 100%;
    }

    /* footer */
    footer li {
        margin-top: 15px;
    }
}