@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
 } 

body {
    font-family: Quicksand, sans-serif;
    font-weight: 500;
    color: #071e22;
    background-color: #f3f3f3;
 }

 /* headings and logo */

h1, h2 {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    color: #07242a;
    letter-spacing: 4px;
 }

#logo {
    float: left;
    margin-left: 40px;
    font-size: 260%;
 }

 /* nav links */

#page-nav {
    font-size: 140%;
    letter-spacing: 4px;
}

#page-nav, #logo {
    line-height: 80px;
}

#page-nav li {
    float: right;
    list-style: none;
    margin-right: 40px;
}

#page-nav a {
    text-decoration: none;
    color: #07242a;
}

#page-nav a:hover {
    color: #1d7874;
    border: 1px solid #1d7874;
    padding: 0 4px;
}

/* landing image and covertext */

#landing-container {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;

    background-color: #071e22
}


#landing-image-container {
    width: 520px;
    padding: 20px;
    border: 1px solid #f3f3f3;

    top: 60px;
    left: 140px;

    position: absolute;
}

#landing-image {
    height: 400px;

    background: url(../images/landing-image-2.jpg) no-repeat center center;
    background-size: 100%;
}